{$KIRIGAMI_CADDY_ADDR:https://www.dpodoesnt.work} {
	bind 0.0.0.0
	encode zstd gzip

	handle /api/* {
		reverse_proxy {$KIRIGAMI_API_UPSTREAM:127.0.0.1:8000}
	}

	reverse_proxy {$KIRIGAMI_WEB_UPSTREAM:127.0.0.1:3000}
}
